# Mark .zip files as binary to prevent git from trying to merge it
*.zip                   binary

# Mark .pnp.* as binary to prevent git from trying to merge it & generated to hide from github linguist
/.pnp.*                 binary linguist-generated

# Hide .yarn from GitHub's language detection
/.yarn/**               linguist-vendored